body{
    background-color: lightcoral;
    text-align: center;
}

.layout {
    display: flexbox;
    margin-left: 0%;
}

.layout2 {
    display: flexbox;
    margin-left: 0%;
}

.layout3 {
    display: flexbox;
    margin-left: 0%;
}