body{
    background-color: lightcoral;
    text-align: center;
}

.layout {
    display: flexbox;
    margin-left: 30%;
    margin-right: 30%;
}

.layout2 {
    display: flexbox;
    margin-left: 30%;
     margin-right: 30%;
}

.layout3 {
    display: flexbox;
    margin-left: 30%;
     margin-right: 30%;
}